<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>HIRAGAR</title>
<link rel="stylesheet" href="../../common/css/style-hiragar.css">
</head>
<body>
<header>
	<div class="header-container">
		<h1>HIRAGAR</h1>
	</div>
</header>
<div class="contents">
	<div class="contents-container">
	<!-- サンプル ここから -->

	<!-- サンプル ここまで -->
	</div>
</div>
<footer>
	<div class="footer-container">
		<p>©HIRAGAR</p>
	</div>
</footer>
</body>
</html>